#mouse-scroll {
  margin: auto;
  width: 6%;
  padding: 10px;
}

.mouse-area {
  height: 200px;
  margin: 80px 0 0.8rem;
}

#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
  height: 29px;
  width: 16px;
  border-radius: 10px;
  transform: none;
  border: 2px solid #000;
  top: 170px;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

#mouse-croll .down-arrow-1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-dekay: 0.3s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #000000;
  position: relative;
}
#mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* mouse up arrow */
#mouse-scroll .up-arrow-1,
#mouse-scroll .up-arrow-2,
#mouse-scroll .up-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
  transform: rotate(-135deg);
  -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .up-arrow-1 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .up-arrow-2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .up-arrow-3 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-dekay: 0.1s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-out {
  -webkit-animation: animated-out 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

.mouse-out-area {
  height: auto;
  margin: auto;
}

@keyframes animated-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
